/* CSS Document */

@import "./variables.scss";
@import "./mixins.scss";
@import "./responsive_table.scss";

$zp:0px;
$bgAisle:"../_img/flags.jpg";
$bgVertical: top;
$bgHorizontal: center;
$bgRepeat: no-repeat;
$bgSize: cover;
$bgBlue: rgba(20, 120, 200, .99);

/* vender prefix */

$venderList: "-webkit-",
"-moz-",
"-ms-",
"-o-",
"";
body.basictorso {
    @include extendFlex($zp);
    @include fontSmooth();
}

.bg-green {
    background-color: #3498db;
}

.navbar {
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	    -ms-border-radius: 0px;
	     -o-border-radius: 0px;
	        border-radius: 0px;
}

.opacity-0begin {
    opacity: 0;
}

.flex-100per {
    display: inline-flex;
    width: 100%;
    > ul {
        min-width: 200px;
    }
}

.width-100per {
    width: 100%;
}

.slider-outline {
    border: 2px solid deepskyblue;
    .slider-itself {
        min-width: 100px;
        min-height: 150px;
        font-size: 2em;
        color: coral;
    }
}

@import "./mediaQuery.scss";